<div class="backlog-container content-area">
    <h1>Backlog</h1>
    <p class="blue">Learning Management System Project</p>
    <div class="headlines deepblue">
        <div>
            <h3 class="stand-alone">ASSIGNED TO</h3>
            <div *ngFor="let task of taskservice.allTasks">{{task.assignedTo}}</div>
        </div>

        <div class="space-category-details">
            <div>
                <h3 id="category">CATEGORY</h3>
                <div *ngFor="let task of (taskservice.allTasks)">{{task.category}}</div>
            </div>
            <div>
                <h3>DETAILS</h3>
                <div *ngFor="let task of (taskservice.allTasks)">{{task.description}}
                    <button (click)="taskservice.moveToBoard(task.id)">Move</button>
                </div>

            </div>





        </div>
    </div>