<section class="sidebar-container bg1">

    <div class="menu-container">
        <img src="../../assets/icons/logo.png" alt="Join-Logo">
        <span [routerLink]="'board'" class="margin-links">Board</span>
        <span [routerLink]="'backlog'" class="margin-links">Backlog</span>
        <span [routerLink]="'add-task'" class="margin-links">Add Task</span>
        <span [routerLink]="'help'" class="margin-links">Help</span>
    </div>
    <img src="../../assets/img/Soquat.png" alt="Picture of Michael Soquat">

</section>