<section class="add-task-site">
    <div class="add-task-header">
        <h1>Add Task</h1>
        <span class="color1">Learning Management System Project</span>
    </div>
    <div class="add-task-container bg2">
        <form #f="ngForm" (submit)="addNewTaskToBoard(f)">
            <div class="row first-row">
                <div class="label-input-container">
                    <label class="color1" for="title">TITLE</label>
                    <input class="height-width-inputs" required ngModel name="title" type="text">
                </div>
                <div class="label-input-container">
                    <label class="color1" for="dueDate">DUE DATE</label>
                    <input class="height-width-inputs custom-inpt" required ngModel name="dueDate" type="date">
                </div>
            </div>
            <div class="row second-row">
                <div class="label-input-container">
                    <label class="color1" for="category">CATEGORY</label>
                    <select title="Category" class="height-width-inputs" required ngModel name="category" type="text">
                        <option value="Management">Management</option>
                        <option value="Marketing">Marketing</option>
                        <option value="IT">IT</option>
                        <option value="Production">Production</option>
                        <option value="Finance">Finance</option>
                        <option value="Logistics">Logistics</option>
                        <option value="Sales">Sales</option>
                    </select>

                </div>
                <div class="label-input-container">
                    <label class="color1" for="urgency">URGENCY</label>
                    <select title="Urgency" class="height-width-inputs" required ngModel name="urgency" type="text">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
            </div>
            <div class="row third-row">
                <div class="label-input-container">
                    <label class="color1" for="description">DESCRIPTION</label>
                    <textarea class="textarea height-width-inputs" style="height: auto !important;" name="description" ngModel cols="30" rows="7"></textarea>
                </div>

                <div class="label-input-container order-containers-buttons-assignement">
                    <div class="assigned-container">
                        <label class="color1" for="assignedTo">ASSIGNED TO</label>
                        <img class="assigned-to-img" src="../../assets/img/Soquat.png" alt="">
                    </div>
                    <div class="button-container">
                        <button class="cancel-btn" type="cancel">Cancel</button>
                        <button [ngClass]="f.valid? 'create-task-btn': 'create-task-btn-disabled'" type="submit">Create Task</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>